<html>
    <head>
        <link rel="stylesheet" href="/css/css.css">
    </head>
    <body>
        <header id="header">
            <div>
                <p id="logo">AirDotA</p> 
            </div>
            <nav id="navigation">
                <ul>
                    <li class="navelement">
                        <a class="nava" href="/">Home</a>
                    </li>
                    <li class="navelement">
                        <a class="nava" href="/templates/essays.html">Essays</a>
                    </li>
                    <li class="navelement">
                        <a class="nava" href="https://www.youtube.com/channel/UCaR9eB77TBwS4CqelYoquig">Video</a>
                    </li>
                    <li class="navelement">
                        <a class="nava" href="/templates/inhouse.html">Inhouse</a>
                    </li>
                    <li class="navelement">
                        <a class="nava" href="/templates/dictionairy.html">Dictionairy</a>
                    </li>
                    <li class="navelement">
                        <a class="nava" href="http://dota2.gamepedia.com/Dota_2_Wiki">Dota 2 Wiki</a>
                    </li>
                    <li class="navelement">
                        <a class="nava" href="/templates/archive.html">Archive</a>
                    </li>
             
                </ul>
            </nav>
        </header> 
        <div id="content">
            <p style="text-align: center; font-size: 1.5em; margin-top: 50px;">Nothing to see here yet...</p>
        </div>
    </body>
</html>
