<html>
    <head>
        <link rel="stylesheet" href="/css/dictionairy.css">
    </head>
    <body>
        <header id="header">
            <div>
                <p id="logo">AirDotA</p> 
            </div>
            <nav id="navigation">
                <ul>
                    <li class="navelement">
                        <a class="nava" href="/">Home</a>
                    </li>
                    <li class="navelement">
                        <a class="nava" href="/templates/essays.html">Essays</a>
                    </li>
                    <li class="navelement">
                        <a class="nava" href="https://www.youtube.com/channel/UCaR9eB77TBwS4CqelYoquig">Video</a>
                    </li>
                    <li class="navelement">
                        <a class="nava" href="/templates/inhouse.html">Inhouse</a>
                    </li>
                    <li class="navelement">
                        <a class="nava" href="/templates/dictionairy.html">Dictionairy</a>
                    </li>
                    <li class="navelement">
                        <a class="nava" href="http://dota2.gamepedia.com/Dota_2_Wiki">Dota 2 Wiki</a>
                    </li>
                    <li class="navelement">
                        <a class="nava" href="/templates/archive.html">Archive</a>
                    </li>
             
                </ul>
            </nav>
        </header> 
        <div id="content">
            <div id="dictnav">
                <a class="letternav" href="#">A</a>
                <a class="letternav" href="#">B</a>
                <a class="letternav" href="#">C</a>               
                <a class="letternav" href="#">D</a>               
                <a class="letternav" href="#">E</a>               
                <a class="letternav" href="#">F</a>               
                <a class="letternav" href="#">G</a>
                <a class="letternav" href="#">H</a>
                <a class="letternav" href="#">I</a>               
                <a class="letternav" href="#">J</a>               
                <a class="letternav" href="#">K</a>               
                <a class="letternav" href="#">L</a>               
                <a class="letternav" href="#">M</a>
                <a class="letternav" href="#">N</a>
                <a class="letternav" href="#">O</a>               
                <a class="letternav" href="#">P</a>               
                <a class="letternav" href="#">Q</a>               
                <a class="letternav" href="#">R</a>               
                <a class="letternav" href="#">S</a>
                <a class="letternav" href="#">T</a>
                <a class="letternav" href="#">U</a>               
                <a class="letternav" href="#">V</a>               
                <a class="letternav" href="#">W</a>               
                <a class="letternav" href="#">X</a>               
                <a class="letternav" href="#">Y</a>
                <a class="letternav" href="#">Z</a>
                <a class="letternav" href="#">#</a>               
            </div>
            <div id="termcontainer">
                <a href="/templates/dictentry.html" class="term">Face Rush</a>
                <a href="/templates/dictentry.html" class="term">Big-Game Hero</a>
                <a href="/templates/dictentry.html" class="term">Garbage Fight</a>
            </div>
    </body>
</html>
