<html>
    <head>
        <link rel="stylesheet" href="/css/dict.css">
    </head>
    <body>
        <header id="header">
            <div>
                <p id="logo">AirDotA</p> 
            </div>
            <nav id="navigation">
                <ul>
                    <li class="navelement">
                        <a class="nava" href="/">Home</a>
                    </li>
                    <li class="navelement">
                        <a class="nava" href="#">Essays</a>
                    </li>
                    <li class="navelement">
                        <a class="nava" href="https://www.youtube.com/channel/UCaR9eB77TBwS4CqelYoquig">Video</a>
                    </li>
                    <li class="navelement">
                        <a class="nava" href="#">Inhouse</a>
                    </li>
                    <li class="navelement">
                        <a class="nava" href="templates/dictentry.html">Dictionairy</a>
                    </li>
                    <li class="navelement">
                        <a class="nava" href="http://dota2.gamepedia.com/Dota_2_Wiki">Dota 2 Wiki</a>
                    </li>
                    <li class="navelement">
                        <a class="nava" href="#">Archive</a>
                    </li>
             
                </ul>
            </nav>
        </header> 
        <div id="content">
            <div id="dictnav">
                <a class="letternav" href="#">A</a>
                <a class="letternav" href="#">B</a>
                <a class="letternav" href="#">C</a>               
                <a class="letternav" href="#">D</a>               
                <a class="letternav" href="#">E</a>               
                <a class="letternav" href="#">F</a>               
                <a class="letternav" href="#">G</a>
                <a class="letternav" href="#">H</a>
                <a class="letternav" href="#">I</a>               
                <a class="letternav" href="#">J</a>               
                <a class="letternav" href="#">K</a>               
                <a class="letternav" href="#">L</a>               
                <a class="letternav" href="#">M</a>
                <a class="letternav" href="#">N</a>
                <a class="letternav" href="#">O</a>               
                <a class="letternav" href="#">P</a>               
                <a class="letternav" href="#">Q</a>               
                <a class="letternav" href="#">R</a>               
                <a class="letternav" href="#">S</a>
                <a class="letternav" href="#">T</a>
                <a class="letternav" href="#">U</a>               
                <a class="letternav" href="#">V</a>               
                <a class="letternav" href="#">W</a>               
                <a class="letternav" href="#">X</a>               
                <a class="letternav" href="#">Y</a>
                <a class="letternav" href="#">Z</a>
                <a class="letternav" href="#">#</a>               
            </div>
            <div id="termcontainer">
                <p class="term">Face Rush</p>
            </div>
            <div id="defcontainer">
                <div id="defleft">
                    <p id="tip1">I face rushed that CM in the arsehole last night easy mode</p>
                </div>
                <div id="defcenter">
                    <p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."</p>
                    <img class="defimg" src="http://dota2gifs.com/gifs/wts-sings.gif"></img>
                </div>
                <div id="defright">
                    <p class="related">Related Terms:</p>
                    <a class="related" href="#">sex</a>
                    <a class="related" href="#">poop</a>
                </div>
            </div>
        </div>
    </body>
</html>
