<div id="content">
    <div class="layoutlong">
        <img src="/img/soul.png" class="imgstyle" width="180px" height="144px">
        <p><a class="titlelink" href="#/soul">6.82 First Thoughts</a></p>
        <p class="oneliner">My thoughts on the 6.82 patch the day after it came out.</p>
        <p>Because carries are highlighted, carry v carry fights or fights that have both carries there are the most important engagements in the game now. Small garbage fights matter less. Carries should be harder to kill, so miss chance/disarm comes in here, and bashers are huge for the carry v carry fights.</p>
    </div>
    <div class="layoutlong">
        <img src="/img/dotatavern.png" class="imgstyle" width="140px" height="140px">
        <p><a class="titlelink" href="#/beginnings">Beginnings</a></p>
        <p class="oneliner">A scratch guide I wrote three days before v6.41. I intended this to be the first Alt-Tab guide to DotA</p>
        <p>                    Skill build: Max Impetus by level 7, get ultimate whenever you feel physical attacks will be stronger than nukes. (Usually around midgame or level 10/11) Get one level of heal, then get more if your team needs to push early. (It shouldn’t) Stick in the rest with stats.</p>
    </div>
    <div class="layoutlong">
        <img src="/img/lina.png" class="imgstyle" width="240px" height="144px">
        <p><a class="titlelink" href="/templates/article.html">DPS Lina Build</a></p>
        <p class="oneliner">Fire makes a fine servant but a harsh mistress.</p>
        <p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."</p>
    </div>
    <div class="layoutlong">
        <img src="/img/qop.png" class="imgstyle" width="180px" height="144px">
        <p><a class="titlelink" href="/templates/article2.html">Queen of Pain Hard Carry</a></p>
        <p class="oneliner">Didn't like the sound of that?</p>
        <p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."</p>
    </div>
</div>

